.dialogsWrapper {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 10fr;

    grid-template-areas: 
    "a a"
    "b c";
    padding: 20px;
    place-items: center;
    background: white;
}

.dialogsHeader {
    font-size: 26px;
}

.dialogs {
    grid-area: b;
    width: 100%;
}
.dialogItem {
    display: block;
    text-decoration: none;
    margin: 20px 0;
    padding: 5px 5px;
    text-align: center;
    border: darkred solid 1px;
    border-radius: 8px;
    color: darkred;
    cursor: pointer;
}
.active {
    color: white;
    background: darkred;
}

.messages {
    grid-area: c;
    padding: 0 50px;
    width: 50%;
}
.message {
    display: block;
    width: 40%;
    margin: 10px 0;
    margin-right: 30px;
    padding: 10px 30px;
    text-align: center;
    border: lightslategrey solid 1px;
    border-radius: 8px;
    color: white;
    background: #4b4bff;
}
.myMessage {
    margin-left: auto;
    border: #4b4bff solid 1px;
    color: black;
    background: white;
}
.textareaWrapper {
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.textarea {
    margin-left: auto;
    border-radius: 5px;
    width: 50%;
    height: 50px;
    border: #272796 solid 1px;

}
.button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    padding: 5px 10px;
    color: #272796;
    border: #272796 solid 1px;
    border-radius: 5px;
}:focus{
    outline: none;
}