.nav {
    grid-area: n;
    background-color: rgb(75, 75, 255);
    padding: 40px 5px;
}

.item {
    text-align: center;
    margin: 10px;

}
.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

.friends {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.friend {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}
.friends img {
    margin-top: 10px;
    width: 100%;
    border-radius: 100%;

}
