

.usersWrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.avaBtnWrapper {
    text-align: center;
    margin: 0 auto;
}

.avatar {
    width: 70px;
} img{
    width: 100%;
}

.infoWrapper {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 60%;
    padding: 10px 10px;
    border: rgb(75, 75, 255) 2px solid;
    border-radius: 10px;

}

.location {
    text-align: right;
}

.status, .city {
    margin-top: 17px;
}

.follow, .unfollow {
    width: 70px;
    height: 25px;
    border-radius: 5px;
    border: rgb(75, 75, 255) 1px solid;
    color: rgb(75, 75, 255) ;
    font-weight: bold;
}
.follow {
    background: rgb(75, 75, 255);
    color: white;
}
.pages {
    cursor: pointer;
}
.currentPage {
    font-weight: bold;
}

.searchWrapper {
    display: flex;
}

.button {
    display: inline-block;
}