.profileInfo {
    padding: 20px;
}
.mainInfo {
    display: flex;
    align-items: flex-start;
}
.avatar {
    width: fit-content;
}
.avatar img {
    width: 100px;
}
.nameStatus {
    width: fit-content;
    padding: 10px;
}
.status {
    margin-top: 10px;
}
.description {
    font-size: 20px;
}

